
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1e1e1e;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

form input[type="text"],
form input[type="number"],
form select {
    width: calc(100% - 24px);
    max-width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #292929;
    color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form select:focus {
    outline: none;
    box-shadow: 0 0 8px #4caf50;
}

form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button[type="submit"] {
    background-color: #4caf50;
}

form button[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

form button[type="submit"]:active {
    background-color: #388e3c;
}

form button#saveSettings {
    background-color: #1e88e5;
}

form button#saveSettings:hover {
    background-color: #1976d2;
}

form button#loadSettings {
    background-color: #f44336;
}

form button#loadSettings:hover {
    background-color: #d32f2f;
}

#resultContainer {
    margin-top: 30px;
}

#resultContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
}

#playlistResult {
    background-color: #292929;
    border-radius: 8px;
    padding: 20px;
    color: #ffffff;
    text-align: left;
    font-size: 14px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #1e1e1e;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #ffffff;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.modal-content ul li {
    cursor: pointer;
    margin: 5px 0;
    padding: 8px;
    background-color: #292929;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.modal-content ul li:hover {
    background-color: #4caf50;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Стили таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: #292929;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

table th {
    background-color: #4caf50;
    color: #ffffff;
    text-transform: uppercase;
}

table td:hover {
    background-color: #444;
    cursor: pointer;
}

table .active {
    background-color: #4caf50;
    color: #000;
}

.modal-content form {
    margin-bottom: 20px;
}

.modal-content form input {
    margin: 0 10px 10px 0;
    padding: 5px;
}

